<a href="https://colab.research.google.com/github/elizabeth-ucm/DSA4620/blob/main/DSA4620_AssignmentOne_Smith.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
#5.A
#Write a Python program that will input the word python as a list of characters from console
#Delete atleast 2 characters and reverse the remaining letters and print

s = input("Enter a word: ")
s = s[:-2]
print(s[::-1])

Enter a word: python
htyp

In [16]:
from re import A
#5.B
#Take two numbers from the user and perform arithmetic on them

a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

print(f"Addition: {a} + {b} = {a + b}")
print(f"Subtraction: {a} - {b} = {a - b}")
print(f"Multiplication: {a} * {b} = {a * b}")
print(f"Division: {a} / {b} = {a / b}")

Enter first number: 7
Enter second number: 7
Addition: 7 + 7 = 14
Subtraction: 7 - 7 = 0
Multiplication: 7 * 7 = 49
Division: 7 / 7 = 1.0

In [17]:
#6
#Write a program that accepts a sentence
#and replace each occurence of python with pythons


s = input("Enter a sentence: ")
print(s.replace('python', 'pythons'))

Enter a sentence: this is a python
this is a pythons

In [23]:
#7
#Use the if statement s to write a program to print the letter
#grade based on an input class score

score = int(input("Enter score: "))

if score < 60:
  print("F")
elif score < 70:
  print("D")
elif score < 80:
  print("C")
elif score < 90:
  print("B")
else:
  print("A")

Enter score: 60
D

In [26]:
#8
#Write a code that appends the type of elements from a given list
x = eval(input("Enter the list, with each item separated by a comma: "))
types = [type(i) for i in x]

print(x)
print(types)

Enter the list, with each item separated by a comma: 11,22,33.5, 'town'
(11, 22, 33.5, 'town')
[<class 'int'>, <class 'int'>, <class 'float'>, <class 'str'>]

In [32]:
from os import remove
#9

IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A={19,22,24,20,25,26}
B={19,22,20,25,26,24,28,27}
age = [22,19,24,25,26,24,25,24]

#Find the length of IT_companies
print("The length of IT_companies is: ", len(IT_companies))


#add twiiter to IT_companies
IT_companies.add('Twitter')
print("After adding 'Twitter' the set is now: ", IT_companies)

#insert multiple IT companies at once to the set IT_companies
IT_companies.update(['MadeUpName', 'AnotherCompany'])
print("After adding multiple elements the set is now: ", IT_companies)

#remove one of the companies from the set IT_companies
IT_companies.remove('MadeUpName')
print("After removing a company the set is now: ", IT_companies)

#What is the difference between remove and discard
#Remove gives an error if the item is not found, discard does not.

#Join A and B
print("A union B:", A.union(B))

#Find A intersection B
print("A intersection B:", A.intersection(B))

#Is A a subset of B
print("Is A a subset of B: ", A.issubset(B))

#Are A and B disjoint sets
print("Are A and B disjoint sets: ", A.isdisjoint(B))

#join A with B and B with A
print("A union B:", A.union(B))
print("B union A:", B.union(A))

#What is the symmetric difference between A and B
print("Symmetric difference:", A.symmetric_difference(B))

#Delete the sets completely
del A
del B

#Convert the ages to a set and compare the length of the list and the set
ageSet = set(age)
print(len(age))
print(len(ageSet))

The length of IT_companies is:  7
After adding 'Twitter' the set is now:  {'Google', 'IBM', 'Amazon', 'Apple', 'Twitter', 'Microsoft', 'Oracle', 'Facebook'}
After adding multiple elements the set is now:  {'IBM', 'Oracle', 'Amazon', 'Apple', 'Facebook', 'AnotherCompany', 'Google', 'Microsoft', 'MadeUpName', 'Twitter'}
After removing a company the set is now:  {'IBM', 'Oracle', 'Amazon', 'Apple', 'Facebook', 'AnotherCompany', 'Google', 'Microsoft', 'Twitter'}
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B: {19, 20, 22, 24, 25, 26}
Is A a subset of B:  True
Are A and B disjoint sets:  False
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
B union A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference: {27, 28}
8
5