<a href="https://colab.research.google.com/github/elizabeth-ucm/DSA4620/blob/main/ICP2_Smith.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1

class Counter:
    count = 0  #class variable

    def __init__(self):
        self._count = 0  #instance variable

    def increment(self):
        self._count += 1 #increases ONLY this instanceâ€™s count
        Counter.count += 1 #increases the shared class count

    def get_counts(self):
        return f"Instance count: {self._count}, Class count: {Counter.count}"


a = Counter()
b = Counter()

a.increment()  # a._count = 1, Counter.count = 1
a.increment()  # a._count = 2, Counter.count = 2
b.increment()  # b._count = 1, Counter.count = 3

print(a.get_counts()) #"Instance countL 2, Class count: 3"
print(b.get_counts())  #"Instance countL 1, Class count: 3"


#self.count increases only that objects personal counter
#Counter.count increases the global counter shared across all instantces

Instance count: 2, Class count: 3
Instance count: 1, Class count: 3

In [ ]:
#2

def sum_all(*args):
  return sum(args)

print("Sum of 1,2,3 is: ", sum_all(1,2,3))
print("Sum of 4,5,6,7 is: ", sum_all(4,5,6,7 ))


#The code was missing the * before args

Sum of 1,2,3 is:  6
Sum of 4,5,6,7 is:  22

In [ ]:
#3
def first_word(words):
    sortedWords = sorted(words)
    return sortedWords[0]

students = ['Mary', 'Zelda', 'Jimmy', 'Jack', 'Bartholomew', 'Gertrude']
print(first_word(students))  # Output: Bartholomew

Bartholomew

In [ ]:
#4


class Employee:

  employee_count = 0

  def ___init__(self, name, family, salary, department):
    self.name = name
    self.salary = salary
    self.department = department
    self.family = family

    def average_salary(self, employees):
      total_salary = sum(employee.salary for employee in employees)
      return total_salary / len(employees)

In [ ]:
#Emplaoyee class
class Employee:
    #data memeber to count the number of employees
    employee_count = 0

    #constructor to initiialize name, family, salary, depaprtment
    def __init__(self, name, family, salary, department):
        self.name = name
        self.family = family
        self.salary = salary
        self.department = department
        Employee.employee_count += 1  #incrememnt to count toal employees

    #Create a function to average salary
    def average_salary(self, employees):
        total_salary = sum(emp.salary for emp in employees)
        return total_salary / len(employees)


#FulltimeEmployee inherits from Employee
class FulltimeEmployee(Employee):
    def __init__(self, name, family, salary, department):
        #Call parent constructor with super
        super().__init__(name, family, salary, department)


#Sample instances to prove it works
emp1 = Employee("Haruki", "Murakami", 44000, "Literature")
emp2 = Employee("Pam", "Johnson", 60000, "HR")
emp3 = FulltimeEmployee("Duck", "McScrooge", 70000, "Finance")
emp4 = FulltimeEmployee("Mark", "Zuckerberg", 80000, "Marketing")
emp5 = Employee("John", "Doe", 50000, "Sales")
emp6 = FulltimeEmployee("Jane", "Doe", 55000, "Sales")

#employees list
employees = [emp1, emp2, emp3, emp4, emp5]

#average_salary function
print("Total Employees:", Employee.employee_count)
print("Average Salary:", emp6.average_salary(employees))


print("Employee #5:", emp5.name, emp5.family, "-", emp5.department)
print("Fulltime Employee #3:", emp3.name, emp3.family, "-", emp3.department)

Total Employees: 6
Average Salary: 60800.0
Employee #5: John Doe - Sales
Fulltime Employee #3: Duck McScrooge - Finance